# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
venv/
node_modules
dist
dist-ssr
*.local
Start_backEnd/inputVideos/raw.mp4
Start_backEnd/result.mp4
Start_backEnd/result.webm
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
